
body{
	background-color: whitesmoke;
}

header{
	text-align: center;
	color: #337ab7
}

input{
	border-radius: 5px;
	padding: 5px;
	text-align: left;
	width: 50%;
}


section{
	text-align: center;
}

ul{
	list-style: none;
}


.well{
	background-color: white;
	text-align: center;
}


.img-responsive{
	margin: 0 auto;
}

.description{
	padding-left: 30px;
	text-align: left;
	float: left;
	text-align: justify;
}

footer{
	text-align: center;
	color: #337ab7;
}


